* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16;
}
body {
  height: 100vh;
  font-family:"Montserrat", "Times New Roman", Times, serif;
}
.menu {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.menu__item {
  width: 30%;
  height: 100%;
  margin-right: 5em;
  background-image: url("green.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:white;
}
.menu__item h3 {
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.formDiv {
  width: 50%;
  height: 80vh;
  background-image: url("green.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formDiv form {
  width: 80%;
  height: 75%;
  font-size: 2em;
  background-color: #218161;
  /* background-image: url("gray.jpg"); */
  background-size: cover;
  /* border: 10px solid white; */
  color:white;
  
}
.formDiv__heading {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin:30px 0 0 30px;
  font-size: 3em;
}
.hidden {
  display: none;
}
.buttonDiv{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__button {
  padding: 20px 40px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 1em;
  background-color: #f7de33;
  border: none;
  outline: none;
  color: black;
}
.form__button:hover{
  background-color: #fc9d3b;
  
}

.form__button:active {
  outline: none;
  border: none;
}

input[name="email"],
input[name="phone"] {
  height: 25px;
}

input[type="radio"],
input[type="checkbox"] {
  height: 25px;
  width: 25px;
}
input[name="checkbox"] {
  margin: 25px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 480px;
  height: 240px;
  text-align: center;
  border-radius: 3px;
}

.close {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
}
.errorDiv {
  height: 25px;
  margin: 15px 0;
}
fieldset {
  padding: 15px;
  height:100%
}
#email,#phoneNumber{
  font-size: 24px;
  height:100%;
  margin-left:20px;
  padding:5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 110px;
  height: 110px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  position: absolute;
  z-index:100;
  left:180px;
  top:0px
}

#registerMsg{
  font-size: 23px;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 100%;
  }

  .modal__content {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
